@{
    ViewBag.Title = "Contact";
}
<h2>Universidades</h2>
<h3>Top 3 universidades públicas de Costa RIca</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="card" style="width: 18rem;">
                <a href="https://www.ucr.ac.cr/">
                    <img src="~/imagenes/logo.jpg" class="card-img-top" alt="...">
                </a>
                    <div class="card-body">
                        <p class="card-text">Conoce más sobre la universidad de Costa Rica</p>
                    </div>
</div>

        </div>
        <div class="col">
            
            <div class="card" style="width: 18rem;">
                <a href="https://www.una.ac.cr/">
                    <img src="~/imagenes/logo-una-1.jpg" class="card-img-top" alt="...">
                </a>

                <div class="card-body">
                    <p class="card-text">Conoce más sobre la universidad de la Universidad Nacional</p>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="card" style="width: 18rem;">
                <a href="https://tec.ac.cr/">
                    <img src="~/imagenes/tec-logo.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Conoce más sobre el Instituto Tecnológico de Costa Rica</p>
                    </div>
            </div>

        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top:35px">
    Modal de ejemplo
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hola</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hola soy un modal de bootstrap
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary">Felicitar</button>
            </div>
        </div>
    </div>
</div>